/*Media Queries for Navbar*/
@media screen and (max-width: 768px) {
    .nav-element {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .responsive-navbar-container {
        display: flex;
    }
}

/*Media Queries for intro page*/
@media screen and (max-width: 768px) {
    .intro-section {
        padding: 15% 5%;
    }
    .intro-image-container > img {
        width: calc(100vw / 1.6);
    }
}

@media screen and (max-width: 431px) {
    .intro-section {
        padding: 10% 3%;
        align-items: baseline;
        height: max-content;
    }
    .intro-image-container > img {
        width: calc(100vw / 1.1);
    }
    .intro-image-container {
        transform: translateX(-50%);
        border-radius: 2px;
        position: relative;
    }
}

/*Media Queries for Focus and Flow section*/
@media screen and (max-width: 768px) {
    .focus-and-flow {
        height: max-content;
    }
    .ff-showcase {
        flex-direction: column;
        padding-top: 50px;
        gap: 50px;
    }
    .ff-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ff-image-container > img {
        width: calc(100vw / 1.5);
        border-radius: 5px;
    }
}

@media screen and (max-width: 431px) {
    .focus-and-flow {
        padding-top: 0px;
        padding-bottom: 100px;
        min-height: fit-content;
    }
    .ff-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ff-image-container > img {
        width: calc(100vw / 1.1);
        border-radius: 1px;
    }
    .ff-description {
        padding: 0px 20px;
        font-size: 1rem;
    }
}

/*Media Queries for Modular Section*/
@media screen and (max-width: 768px) {
    .modular {
        padding-top: 0px;
        padding-bottom: 100px;
        min-height: fit-content;
    }
    .m-image-container > img {
        width: calc(100vw / 1.1);
        border-radius: 5px;
    }
    .m-description {
        padding: 50px 50px;
    }
}

@media screen and (max-width: 431px) {
    .modular {
        padding-top: 0px;
    }
    .m-image-container > img {
        border-radius: 1px;
    }
    .m-showcase .m-description {
        padding: 0px 20px;
        font-size: 1rem;
    }
}

/*Media Queries for Open Source section*/
@media screen and (max-width: 768px) {
    .opensource {
        height: max-content;
    }
    .o-showcase {
        flex-direction: column;
    }
    .m-description {
        padding: 50px 50px;
    }
}

@media screen and (max-width: 431px) {
    .opensource {
        padding-top: 0px;
    }
    .o-showcase {
        gap: 50px;
    }
    .o-logo-container {
        padding: 0px 0px;
        font-size: 20rem;
    }
    .o-description {
        padding: 0px 20px;
        font-size: 1rem;
    }
}

/*Media Queries for footer*/
@media screen and (max-width: 768px) {
    .fo-slogan {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 431px) {
    .fo-slogan {
        font-size: 0.6rem;
    }
}