/*Media Queries for Navbar*/
@media screen and (max-width: 768px) {
    .nav-element {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .responsive-navbar-container {
        display: flex;
    }
}

/*Media Queries for intro page*/
@media screen and (max-width: 768px) {
    .intro-section {
        padding: 15% 5%;
    }
    .intro-image-container > img {
        width: calc(100vw / 1.6);
    }
}

@media screen and (max-width: 426px) {
    .intro-section {
        padding: 10% 5%;
    }
    .intro-image-container > img {
        width: calc(100vw / 1.1);
    }
    .intro-image-container {
        transform: translate(-50%, -10%);
    }
}
