/*Styles for navigation bar*/

/*Animations*/
@keyframes pop-fade {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

/*Setting default values to 0*/
* {
    padding: 0;
    margin: 0;
}

/*The entire Navbar*/
.navbar {
    display: flex;
    background-color: var(--primary-color);
    
    position: fixed;
    width: 100vw;
    transition: background-color 0.2s;
}

/*Logo system*/
.logo {
    display: flex;
    gap: 5px;
    font-family: 'Archivo Black';
    font-size: 2rem;
    letter-spacing: -3px;
    user-select: none;
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    animation: pop-fade 0.5s;

    transition: color 0.2s;
}

/*Navigation elements*/
.navigations {
    margin-left: auto;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-family: 'Funnel Display';
    padding: 0px 20px;
    font-size: 1.2rem;

    animation: pop-fade 1s;
}

.navigations > div {
    color: var(--secondary-color);
    position: relative;

    transition: color 0.2s;
}

/*Navigation element link animation*/
.nav-element > a::before {
    content: '';
    position: absolute;
    height: 10%;
    border-radius: 10px;
    width: 0%;
    background-color: var(--secondary-color);
    bottom: 0;
    transition: width 0.5s ease, opacity 0.5s ease;
    margin: -1px 0px;
}
.nav-element > a:hover::before {
    width: 100%;
    opacity: 90%;
}
.nav-element {
    transition: opacity 0.5s ease;
}
.nav-element:hover {
    opacity: 90%;
}

/*Setting <a> color to secondary*/
.navigations > div > a {
    text-decoration: none;
    color: var(--secondary-color);
}

/*Theme toggle button*/
.dark-light-toggle {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: text-shadow 0.5s;
}

.dark-light-toggle:hover {
    text-shadow: 0px 0px 10px var(--secondary-color);
}

/*Burger Menu*/
.burger-menu {
    font-size: 1.6rem;
    display: none;
    justify-content: center;
    align-items: center;
}

/*Responsive Menu*/
.responsive-navbar-container {
    display: none;
    flex-direction: column;
    height: 0vh;
    position: relative;
    background-color: var(--primary-color);
    width: 100%;
    top: 0;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;

    transition: height 1s ease;
}

.close-btn {
    font-size: 1.5rem;
    color: var(--secondary-color);
    position: absolute;
    right: 3%;
    top: 3%;
}

.resp-nav-element > a{
    color: var(--secondary-color);
    text-decoration: none;
    width: 100%;
    font-family: 'Funnel Display';
    font-size: 1.5rem;
}

/*Media Queries*/
@media screen and (max-width: 768px) {
    .nav-element {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .responsive-navbar-container {
        display: flex;
    }
}