/*Styles for Main Content*/
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--primary-color);
}

/*Scrollbar customisation*/
::-webkit-scrollbar {
    width: 5px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 100px;
}

/*User Selection color*/
::selection {
    background-color: transparent;
    color: #FFA500;
}

/*Introduction Section*/
.intro-section {
    background-color: var(--primary-color);
    width: 100%;
    box-sizing: border-box;
    height: calc(100vh - 55px);
    margin-top: 55px;
    padding: 5% 5%;
    position: relative;
    display: flex;
    align-items: center;

    transition: background-color 0.2s;
}

.slogan {
    font-size: clamp(2rem, 12vw, 12rem);
    font-family: 'Archivo Black';
    line-height: 100%;
    user-select: none;
    color: var(--secondary-color);
}

/*Image Settings*/
.intro-image-container {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    overflow: hidden;
    width: fit-content;
    transform: translate(-50%,-50%);
    box-shadow: 0px -10px 100px rgba(0, 0, 0, 0.5);
}

.intro-image-container > img {
    width: calc(100vw / 1.9);
    display: block;
}

/*Focus and Flow section*/
.focus-and-flow {
    height: 100vh;
    box-sizing: border-box;
    padding-top: 100px;
}

.ff-heading {
    font-family: 'Archivo Black';
    color: var(--secondary-color);
    font-size: clamp(1rem, 8vw, 4rem );
    padding: 0px 20px;
}

/*Flex containing image and description*/
.ff-showcase {
    padding-top: 100px;
    display: flex;
}

.ff-image-container {
    margin: 0px 20px;
}

.ff-image-container > img {
    width: calc(100vw/2);
    border-radius: 10px;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.2);
}

.ff-description {
    
    color: var(--secondary-color);
    font-family: 'Funnel Display';
    font-size: 1.4rem;
    padding: 0px 100px;
    line-height: 150%;
}